# ignore netbeans specific stuff
nbproject

# Can we agree to install binstubs as `bundle install --binstubs=b`?
b/
.yardoc

# ignore Rubymine
.idea

doc
pkg/

.rvmrc
.bundle
tmp
db/

/neo4j/

# jedit
*~

# vim
.*.sw[a-z]

Gemfile.lock
coverage
.DS_Store

