#ignore the db
neo4j
another_neo4j
#ignore the downloaded neo4js
/neo4j-*
# ignore netbeans specific stuff
nbproject

# Can we agree to install binstubs as `bundle install --binstubs=b`?
b/
.yardoc

# ignore Rubymine
.idea

doc
pkg/

.rvmrc
.bundle
tmp
db/

/neo4j/

# jedit
*~

target

# vim
.*.sw[a-z]

Gemfile.lock
coverage
.DS_Store

